<div class="noty-item-container {{props.animation}} noty-{{props.style}} {{visible ? 'visible' : ''}}">
	<span class="noty-item-close-icon" (click)="onCancel()">
		<i class="fa fa-times"></i>
	</span>
	<div class="noty-item-body">
		<span class="noty-body-icon">
			<i *ngIf="props.style === 'success'" class="fa fa-check-circle"></i>
			<i *ngIf="props.style === 'error'" class="fa fa-exclamation-circle"></i>
			<i *ngIf="props.style === 'warning'" class="fa fa-exclamation-circle"></i>
		</span>
		<div class="not-item-content">
			<span class="noty-item-message">{{ props.message }}</span>
		</div>
	</div>
	<div *ngIf="props.showButtons" class="noty-item-footer">
		<button type="button" (click)="onCancel($event)">Cancel</button>
		<button type="button" (click)="onConfirm($event)">Confirm</button>
	</div>
</div>
